@using Microsoft.AspNetCore.Components.Authorization
<AuthorizeView>
    <Authorized>
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <a href="">
                            <img style="border-radius:10px; margin-top:-10%" src="../images/companylogos/horizon.jpg" height="35" width="35" />
                        </a>
                    </div>
                    <div class="col-9">
                        <span class="navbar-brand" style="cursor:default">Bem vindo, @context.User.Identity!.Name</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="nav-scrollable">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <span class="bi bi-airplane-fill" aria-hidden="true"></span> Buscar Voos
                    </NavLink>
                </div>
                <!-- USER -->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/passagens-compradas">
                        <span class="bi bi-ticket-detailed-fill" aria-hidden="true"></span> Passagens Compradas
                    </NavLink>
                </div>

                <!--MANAGER-->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="ShowAdminMenuContainer" href="javascript:void()">
                        <span class="bi bi-person-circle" aria-hidden="true"></span> Administração
                    </NavLink>
                </div>
                <div class="nav-item px-3" style="margin-left:1.5rem; visibility:@CssStyle">
                    <NavLink class="nav-link" href="/cidades">
                        <span class="bi bi-buildings-fill" aria-hidden="true"></span> Gerenciar Cidades
                    </NavLink>
                </div>
                <div class="nav-item px-3" style="margin-left:1.5rem; visibility:@CssStyle">
                    <NavLink class="nav-link" href="/aeroportos">
                        <span class="bi bi-building-fill" aria-hidden="true"></span> Gerenciar Aeroportos
                    </NavLink>
                </div>
                <div class="nav-item px-3" style="margin-left:1.5rem; visibility:@CssStyle">
                    <NavLink class="nav-link" href="/voos">
                        <span class="bi bi-airplane-fill" aria-hidden="true"></span> Gerenciar Voos
                    </NavLink>
                </div>
                <div class="nav-item px-3" style="margin-left:1.5rem; visibility:@CssStyle">
                    <NavLink class="nav-link" href="/passagens">
                        <span class="bi bi-ticket-detailed-fill" aria-hidden="true"></span> Gerenciar Passageiros
                    </NavLink>
                </div>
                <div class="nav-item px-3" style="margin-left:1.5rem; visibility:@CssStyle">
                    <NavLink class="nav-link" href="/bagagens">
                        <span class="bi bi-suitcase2-fill" aria-hidden="true"></span> Gerenciar Bagagens
                    </NavLink>
                </div>
                <div class="nav-item px-3" style="margin-left:1.5rem; visibility:@CssStyle">
                    <NavLink class="nav-link" href="/users">
                        <span class="bi bi-person-fill-gear" aria-hidden="true"></span> Gerenciar Usuários
                    </NavLink>
                </div>
                <div class="nav-item px-3" style="bottom:0; position:absolute;">
                    <NavLink class="nav-link" onclick="LogoutClicked">
                        <span class="btn btn-none text-danger" @onclick="LogoutClicked"><i class="bi bi-box-arrow-left"></i> Logout</span>
                    </NavLink>
                </div>
            </nav>            
        </div>
    </Authorized>
</AuthorizeView>
@code {
    public string CssStyle = "hidden";
    public bool ShowHide { get; set; } = false;
    private void ShowAdminMenuContainer()
    {
        ShowHide = !ShowHide;
        if(ShowHide)
        {
            CssStyle = "visible";
        }
        else
        {
            CssStyle = "hidden";
        }
    }

    async Task LogoutClicked()
    {
        var logoutModel = new UserSession();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logoutModel);
        NavManager.NavigateTo("/", forceLoad: true);
    }
}
