<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 cursorStyle">
            <div class="card border-primary">
                <div class="card-header"> <i class="bi bi-person-badge-fill text-primary"></i> Passageiros</div>
            </div>
        </div>

        <div class="col-lg-4 cursorStyle">
            <div class="card border-success">
                <div class="card-header"> <i class="bi bi-ticket-detailed-fill text-success"></i> Classes de Voo</div>
            </div>
        </div>

        <div class="col-lg-4 cursorStyle">
            <div class="card border-info">
                <div class="card-header"> <i class="bi bi-suitcase-fill text-info"></i> Bagagens</div>
            </div>
        </div>

    </div>
</div>

<style>
    .cursorStyle{
        cursor:pointer;
    }
</style>
